.home{
    background-image: url('/imagenes/body.jpg');
    padding: 0 10px;
}

/*==== HEADER ====*/

.home header img{
    border-radius: 50%;
    border:2px gray solid;
    width: 180px;
    display: block;
    margin: 15px auto 30px;
}

.home header li{
    width: 100%;
    background-color: #444444;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    text-align: center;
}
.home header li:last-child{
    border-bottom: none;
}

.home header a{
    color: #fff;
    text-transform: uppercase;
}

.home button{
    display: block;
    margin: 30px auto;
    background-color:#444444;
    border: none;
    padding: 5px;
    color: #fff;
    border-radius: 5px;
}


/*==== BANNER ====*/

.home .banner img{
    display: none;
}


/*==== PRODUCTS ====*/

.home .products{
    margin: 30px 0;

}

.home article{
    width: 100%;
}

div.imagen{
    position: relative;
}

.home article .foto{
    width: 100%;
}

.home article img.label{
    position: absolute;
    top: 0;
    right: 0;
}

.home article a.zoom{
    text-transform: uppercase;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    width: 100%;
    padding: 5px 0;
    top: 45%;
    left: 0;
}

.home article a.more{ 
    display: inline-block;
    background-color: #444444;
    width: 80px;
    color: #fff;
    text-align: center;
    padding: 5px 0; 
    margin: 10px 0;
} 

.home article h4, p{
    margin: 10px 0;
}


/*==== FOOTER ====*/

.home footer li{
    width: 100%;
    background-color: #b92519;
    border-bottom: 2px solid #fff;
    padding: 10px 0;
    text-align: center;
}
.home footer li:last-child{
    border-bottom: none;
}

.home footer a{
    color: #fff;
    text-transform: uppercase;
}

@media (min-width:768px) {
    /*==== HEADER ====*/
    .home header button{
        display: none;
    }

    .home  header nav{
        text-align: center;
    }

    .home header li{
        display: inline-block;
        width: 16%;
     
    }
  
    
    /*==== BANNER ====*/

    .home .banner img{
        display: inline-block;
        width: 100%;
        margin-top: 20px;
    }
    

    /*==== PRODUCTS ====*/
    .home .products{
        text-align: center;
    }
    .home .imagen {
        display: inline-block;
    }
    
    .home  article {
        display: inline-block;
        width: 32.7%;
        text-align: left;
    }
    
}

@media (min-width:1024px){
    /*==== HEADER ====*/
    
    .home header li{
        display: inline-block;
        width: 16.3%;
         
    }

    /*==== PRODUCTS ====*/
    .home .products{
        text-align: center;
    }
    .home .imagen {
        width: 100%;
    }
    
    .home  article {
        display: inline-block;
        width: 32.95%;
        text-align: left;
    }
    /*==== FOOTER ====*/

    .home footer {
        text-align: center;
        background-color: #b92519;
        height: 50px;
        padding: 50px 0 80px 0 ;
        border-radius: 25px 25px 0 0;
    }

 
    .home footer li{
        display: inline-block;
        width: 10%;
        border-right: 2px solid #fff;
        padding: 1px 0 1px 0;
        text-align: center;
        background-color:none;
        border-bottom: none;
    }
    .home footer li:last-child{
        border-right: none;
    }

    .home footer a{
        color: #fff;
        text-transform: capitalize;
        padding: 0;
    }
}